include README.rst bootstrap-buildout.py buildout.cfg develop.cfg COPYING version.txt requirements.txt
recursive-include doc *.py *.rst
recursive-include scripts-article *.py *.rst
include scripts-article/README
include doc/img/*
