setuptools
bob.extension
bob.core
bob.io.base
bob.io.image
bob.io.video
bob.ip.base
bob.ip.draw
bob.ip.color
bob.ip.facedetect
bob.ip.skincolorfilter
bob.db.cohface
bob.db.hci_tagging
gridtk
numpy
scipy
docopt
matplotlib
